.INSTRUCTIONS{
  
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 1.5vw;
     margin-left:580px;
     margin-top: 50px;
     font-style: italic;
     padding-top: 20px;
 }

     


.Wishes{
    padding-left: 730px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2vw;
    padding-top: 5px;

}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4.5vw;
    text-align: center;
   
    /* border-radius: 1vw; */
    width: 48vw;
    margin-left: 60vh;
    margin-top: 15vh;
    font-style: italic;
}


*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url("https://media.giphy.com/media/Cwf290yH98VbpeRqe0/giphy.gif");
 
    background-repeat: no-repeat;
    background-size: 100% 150%;
    background-position: inherit;


}

#button {
    background-color: #b16464;
    border-radius: 10vw;
    color: white;
    padding: 8px 4px 4px 2px;
    margin-top: 40vh;
    cursor: pointer;
    width: 12vw;
    height: 6vh;
    font-size: 2vw;
    margin-top: 4vh;
    margin-bottom: 0.2vh;
    font-style: normal;
    margin-top: 100px;
    margin-bottom: 0.2vh;
    margin-left: 730px;
   
   
   
}

/* For mobile */
@media only screen and (max-width: 600px){
    .INSTRUCTIONS{
        margin-left: 70px;
        padding-top: 10px;
        font-style: italic;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 3vw;
   
        
   }
   
   .Wishes{
       padding-left: 170px;
       font-style: italic;
       font-family: Georgia, 'Times New Roman', Times, serif;
       font-size: 3vw;
       /* padding-top: 30px; */
      
   }
   
   h1{
    margin-left: 70px;
       /* padding-top: 70px; */
       font-family: Georgia, 'Times New Roman', Times, serif;
       font-size: 8vw;
       font-style: italic;
   }
   
   *{
       margin: 0px;
       padding: 0px;
   }
   
   body{
    background-size: 400px 400px 400px 400px;    
    
    background-image: url("https://media.giphy.com/media/Cwf290yH98VbpeRqe0/giphy.gif");

}
   
   #button {
       background-color: #b16464;
       border-radius: 10vw;
       color: white;
       padding: 3px 10px;
       margin-top: 40vh;
       cursor: pointer;
       width: 12vw;
       height: 6vh;
       font-size: 2vw;
       margin-top: 4vh;
       margin-bottom: 0.2vh;
       margin-left: 180px;
       text-decoration: none;
   }

}