/* SCREEN 1*/

body {
    background-image: url("https://media.giphy.com/media/3ohzgD1wRxpvpkDCSI/giphy.gif");
    background-repeat: no-repeat;
    background-size: 100% 110%;
    background-position: inherit;
}
*{
   margin: 0px;
   padding: 0px;
}

h1{ 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5vw;
    text-align: center;
   
    border-radius: 1vw;
    width: 48vw;
    margin-left: 60vh;
    margin-top: 15vh;
    font-style: italic;
}
h2{
    text-align: center;
    font-size: 2vw;
}
#playerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:none;
    height: 52vh;
    width: 28vw;
    border-radius: 1vw;
   
    text-align: center;
    margin-left: 80vh;
    margin-top: 10vh;
    font-style: italic;
    padding-top: 20px;
}
#button {
   
    background-color: #b16464;
    border-radius: 10vw;
    color: white;
    padding: 8px 4px 4px 2px;
    margin-top: 40vh;
    cursor: pointer;
    width: 12vw;
    height: 6vh;
    font-size: 2vw;
    margin-top: 4vh;
    margin-bottom: 0.2vh;
    font-style: normal;
    margin-left: 50px;
}


input {
    width: 20vw;
    border-radius: 0.3vw;
    border: 0.3vw solid black;
    padding-top: 3vh;
    margin-top: 4vw;
    
}
#playerName{
    font-size: 2vw;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic;
}
#nickname{
    font-size: 2vw;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-style: italic;
}

/* For mobile */
@media only screen and (max-width: 600px) {
  
    body{
        background-size: 400px 400px 400px 400px;    
        background-image: url("https://media.giphy.com/media/3ohzgD1wRxpvpkDCSI/giphy.gif");
    
    }
    h1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 80vw;
        font-style: italic;
        margin-left: 80px;
    }

    #playerForm {
        width: 80vw;
        margin-left: 50px;
        /* padding-bottom: 10px; */
        
    }

    #button {
        width: 20vw;
        font-size: 6vw;
        margin-left: 20px;
        padding: 8px 4px 4px 2px;
      
    }

    input {
        width: 70vw;
    }
}
/* For DESKtop  */
@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 4vw;
        width: 60vw;
    }

    form {
        width: 40vw;
    }

    #button {
        width: 18vw;
        font-size: 1.5vw;
        text-decoration: none;
    }

    input {
        width: 30vw;
    }

    #playerName,
    #nickname {
        font-size: 1.5vw;
    }
}